@import "styles/colors";

#footer {
	align-items: center;
	background-color: $accent-color;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;

	p, a {
		color: #FFF;
	}

	a {
		font-size: 1.5rem;
		margin: 0 1rem;
	}

	@media screen and (min-width: 2100px) {
		height: 6rem;
		padding: 0 12rem;

		p,a {
			font-size: 2rem;
			margin: 0 1.33rem;
		}
	}
}